<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> {{title}} </title>

  <link rel="shortcut icon" href="favicon.png">

  <meta name="theme-color" content="#212121" />
  <meta property="og:title" content=" Пожарная безопасность " />
  <meta property="og:url" content="http://fire-engi.ru" />

  <meta property="og:description" content="Пожарная безопасность — занимаемся обеспечением пожарной безопасности." />

  <meta property="og:type" content="website" />

  <meta name="description" content="Пожарная безопасность — занимаемся обеспечением пожарной безопасности.">


  <meta name="viewport" content="user-scalable=yes, initial-scale=1, width=device-width">

  <meta name="application-name" content="Пожарная безопасность" />
  <meta name="msapplication-TileColor" content="#000000" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="assets/css/main.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper" class="divided">
    <a href="/" class="logo logo_black">
      <object type="image/svg+xml" data="/assets/logo_white.svg"></object>
    </a>
    <a href="/" class="logo logo_white">
      <object type="image/svg+xml" data="/assets/logo_black.svg"></object>
    </a>